.backgroundNumbers {
    z-index: -1;
    font-size: 64px;
    color: rgb(235, 235, 235);
    word-break: break-all;
    white-space: normal;
    filter: blur(4px);
    -webkit-filter: blur(5px);
    letter-spacing: 28px;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    line-height: 1;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}