:root {
  --orange: #fb441c;
}

.text-shadow{
  text-shadow: 1px 1px 2px gray;
}

.title-shadow {
  text-shadow: 3px 3px 2px black;  
}

#dynamic-title{
  height: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  overflow: hidden;
  overflow-x: hidden;
}

progress{
  accent-color: var(--orange);
  height: 50px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#numberGuess {
  max-width: 150px;
}

.text-warning {
  color: var(--orange) !important;
}

img {
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.bg-warning,
.btn-warning,
.btn:hover {
  background-color: var(--orange) !important;
  color: white;
}

.btn:focus,
input:focus {
  outline: none;
  border: 1px var(--orange) solid !important;
  box-shadow: 0 0 10px var(--orange) !important;
}

.h-500{
  max-height: 450px!important;
}