@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@900&display=swap');

:root {
  --orange: #fb441c;
  --gray: #d3d3d3;
}

.font-Title {
  font-family: 'Tektur', cursive;
}

.text-shadow {
  text-shadow: 1px 1px 2px var(--gray);
}

.title-shadow {
  text-shadow: 2px 2px 2px black;
}

#dynamic-title {
  height: 50px;
}

.index-1 {
  z-index: 100 !important;
}

.index-0 {
  z-index: -100 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
  overflow: hidden;
  overflow-x: hidden;
}

#myStats>div>div:nth-child(1)>div>svg>g:nth-child(6)>text {
  text-anchor: end;
}

progress {
  accent-color: var(--orange);
  height: 50px;
}

#numberGuess {
  max-width: 150px;
}

.text-warning {
  color: var(--orange) !important;
}

img {
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.container-sm {
  max-width: 672px !important;
}

#rows .row:nth-child(even) {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning,
.btn-warning {
  background-color: var(--orange) !important;
  color: white !important;
}

.btn:hover {
  outline: #222 dashed;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-outline-warning {
  border: 2px solid var(--orange) !important;
  color: black;
}

.btn-outline-warning:hover {
  color: white !important;
}

.btn-check:checked+.btn {
  background: var(--orange) !important;
  color: white;
}

.btn:focus,
input:focus {
  outline: none;
  border: 1px var(--orange) solid !important;
  box-shadow: 0 0 10px var(--orange) !important;
}

.h-500 {
  max-height: 450px !important;
}

.bold {
  font-weight: 500;
}

small {
  font-size: .75rem !important;
  color: var(--orange);
}