:root {
  --orange: #fb441c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  overflow: hidden;
  overflow-x: hidden;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#numberGuess {
  max-width: 150px;
}

.text-warning {
  color: var(--orange) !important;
}

img {
  object-fit: cover;
}

.bg-warning,
.btn-warning,
.btn:hover {
  background-color: var(--orange) !important;
  color: white;
}

.btn:focus,
input:focus {
  outline: none;
  border: 1px var(--orange) solid !important;
  box-shadow: 0 0 10px var(--orange) !important;
}